# web
requests
retrying 

# installation
setuptools

# geospatial libs
#earthengine-api 
xarray
geopandas
dask-geopandas
#geemap

# data science and ML
numpy==1.22
pandas
scipy
sklearn
imbalanced-learn
matplotlib
seaborn
tensorflow==2.7.0
protobuf==3.19.6

# time-series
nrt
#git+https://github.com/12rambau/bfast